* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10;
  font-family: 'Monsterat', sans-serif;
 background: black;
}


a {
  color: black;
  text-decoration: none;
}


button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
